@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Myanmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


body{
	background-color: #080808;
	margin: 0;
}

.topset{
	width: 100%;
	height: 150px;
	position: relative;
	background-color: black;
	background-image: url(../img/fire.gif);
	background-repeat: no-repeat;
	background-size: 1000px 150px;
	background-position: right;
	margin-top: 0;

}

.topset span{
	font-family: 'Uncial Antiqua', cursive;
	display: block;
	color: white;
	line-height: 25px;
	text-align: justify;
	position: absolute;
	margin-top: -10px;
	margin-left: 20px;

}
.topset span p{
	font-family: 'Noto Serif Myanmar', serif;
	line-height: 5px;
}

.topset img{
	margin-left: 40px;
	margin-top: -20px;
}

.top{
	text-align: right;
	margin-right: 100px;
	margin-top: -70px;

}

.top input{
	width: 250px;
	height: 35px;
	border-style: none;
	border: 2px solid white;
	border-radius: 5px;

}

.top input[type="text"],
input[type="text"]:focus {
	width: 250px;
	height: 35px;
	background: transparent;
	border-color: white;
	color: white;
}

::placeholder{
	color: white;
	padding-left: 10px;
}

.top span{
	color: white;
	display: block;
	position: absolute;
	margin-left: 1235px;
	margin-top: -33px;
}

.top a{
	font-family: 'Kanit', sans-serif;
	margin: 25px;
	color: white;
	text-decoration: none;
}

.top a:hover{
	text-shadow: 5px 0px 3px white;
}

.bknew label{
	display: block;
	width: 100px;
	height: auto;
	font-family: 'Zen Tokyo Zoo', cursive;
	text-align-last: center;
	color: white;
	line-height: 22px;
	background: linear-gradient(
		180deg,
		red 50%,
		white 50%
		);
	border: 2px;
	border-style: none;
	position: absolute;
	margin-top: -43px;
}
.bknew span{
	color: black;
}

.mq{
	font-family: 'Noto Serif Myanmar', serif;
	border-style: none;
	color: white;
	background-color: #242124;
	margin-left: 101px;
	margin-top: -40px;
	position: absolute;
}

nav{
	width: 100%;
	height: 50px;
	display: block;
	position: relative;
	background-color: red;
	margin-top: -15px;

}

nav ul li{
	font-family: 'Kanit', sans-serif;
	list-style: none;
	display: inline-block;
	margin: 13px 20px;
}

nav ul li:hover{
	text-align: center;
	background-color: black;
	padding: 14px 9px 15px 10px;
	margin-top: -15px;
	margin-left: 0;
	transition: 0.8s;
	transform-origin: center;
	
}



nav ul li a{
	text-decoration: none;
	color: white;
}

nav ul li select{
	color: white;
	background: none;
	background-color: red;
	border-style: none;
}
nav ul li select:hover{
	background: black;
}

.leftctn{
	width: 500px;
	height: auto;
	display: flex;
	flex-direction:column;
	margin-left: 20px;
	margin-top: 2px;
}

.leftctn div{
	font-family: 'Noto Serif Myanmar', serif;
	margin-top: 5px;
	color: white;
	background-color: #080808;
	line-height: 20px;
}
.leftctn h4{
	color: red;
	padding-top: -10px;
}

.centerctn{
	font-family: 'Noto Serif Myanmar', serif;
	width: 300px;
	height: auto;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: 570px;
	margin-top: -1296px;
	color: white;
}

.centerctn div{
	line-height: 20px;
	background-color: #080808; 

}

.centerctn h5{
	color: red;
	padding-top: -10px;
}

.rightctn{
	height: 1300px;
	font-family: 'Noto Serif Myanmar', serif;
	position: relative;
    margin-left: 930px;
    margin-top: -1300px;
    overflow-y: scroll;
}

.rightctn iframe{
	width: 200px;
	height: auto;
}
.stup{
	width: 200px;
	height: auto;
	/*background-color: white;*/
	display: block;
	position:absolute;
	color: white;
	margin-left: 205px;
	margin-top: -150px;
	line-height: 20px;
}


@media screen and (max-width: 480px) {
	.topset{
		width: 480px;
		height: 100px;
	}
	.topset span{
		font-family: 'Uncial Antiqua', cursive;
		display: block;
		color: white;
		line-height: 10px;
		text-align: justify;
		position: absolute;
		margin-top: 5px;
		margin-left: 5px;
		font-size: 5px;
	
	}
	.topset img{
		width: 80px;
		height: 50px;
		margin-left: 10px;
		margin-top: 0px;
	}
	

	.top{
		font-size: 5px;
		text-align: right;
		margin-left: -10px;
		margin-top: -30px;
	
	}
	.top a{
		font-family: 'Kanit', sans-serif;
		margin: 25px;
		color: white;
		text-decoration: none;
		visibility: hidden;
	}
	.top input{
		width: 10px;
		height: 5px;
		border-style: none;
		border: none;
		border-radius: none;
	
	}
	.top input[type="text"],
    input[type="text"]:focus {
	width: 250px;
	height: 35px;
	background: transparent;
	border-color: white;
	color: white;
	visibility: hidden;
}

::placeholder{
	color: white;
	padding-left: 10px;
}
.mq{
	font-family: 'Noto Serif Myanmar', serif;
	border-style: none;
	color: white;
	background-color: #242124;
	margin-left: 101px;
	margin-top: -25px;
	position: absolute;
	font-size: 10px;
}

nav{
	width: 100%;
	height: 20px;
	display: block;
	position: relative;
	background-color: red;
	margin-top: -15px;

}

nav ul li{
	font-family: 'Kanit', sans-serif;
	list-style: none;
	display: inline-block;
	margin-left: 0px;
	margin-top: -10px;
	margin-right: 0px;
	font-size: 8px;
}

nav ul li select{
	color: white;
	background: none;
	background-color: red;
	border-style: none;
	font-size: 8px;
}
nav ul li:hover{
	text-align: center;
	background-color:none;
	padding:0;
	margin-top: 0;
	margin-left: 0;
	transition: none;
	transform-origin: center;
	
}

.leftctn{
	width: 100px;
	height: auto;
	display: flex;
	flex-direction:column;
	margin-left: 5px;
	margin-top: 2px;
}

.leftctn img{
	width: 100px;
	height: auto;
	
}
.leftctn div{
	font-family: 'Noto Serif Myanmar', serif;
	margin-top: 5px;
	color: white;
	background-color: #080808;
	line-height: 20px;
	font-size: 10px;
}
.centerctn{
	font-family: 'Noto Serif Myanmar', serif;
	width: 100px;
	height: auto;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: 125px;
	margin-top: -777px;
	color: white;
	font-size: 10px;
}

.centerctn img{
	width: 100px;
	height: 100px;
}

.rightctn{
	height: 1300px;
	font-family: 'Noto Serif Myanmar', serif;
	position: relative;
    margin-left: 235px;
    margin-top: -780px;
    overflow-y: scroll;
}
.rightctn iframe{
	width: 100px;
	height: 100px;
}
.stup{
	width: 200px;
	height: auto;
	/*background-color: white;*/
	display: block;
	position:absolute;
	color: white;
	margin-left: 105px;
	margin-top: -120px;
	line-height: 20px;
	font-size: 10px;
}



	
}